<%= link_to :back do %>
  <i class="ion-android-arrow-back"></i> Back
<% end %>
<div class="container">
  <div class="row"
    <aside class="col-md-4"">
      <section class="user_info">
        <h1>
          <%= image_tag @user.gravatar_url default: "identicon" %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>  
  </div>
</div>

<%= render @user.posts.order('created_at DESC') if @user.posts.any? %>
