<strong class="label label-info"><%= @tag.name  %></strong>
<ul>
<% @posts.each do |post| %>
  <li><strong> <%= link_to post.content, user_post_path(post.user, post) %></strong></li>
<% end %>
 </ul>
