/* flash */ 

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7; 
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8; 
  border-color: #d6e9c6; 
  color: #468847; 
  text-align: left;
}
/*
  ========================================
  General
  ========================================
html,
body { 
  height: 100%; 
}
body {
  color: #141823;
  background-color: #e9eaed;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}
header {
  background-color: #3b5998;
  width: 100%;
}
.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
}
*/
